/* INT */

body {
	font-family: "Lato", sans-serif;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

main {
    width: 82%;
    /* margin: 0% 0 0 15%; */
    margin: 0% 0 0 20%;
    overflow: hidden;
    position: relative;
}

main small{
    width: 100%;
    color: #ccc;
    font-size: 20px;
    display: inline-block;
    margin: 2% 0;
}

@keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
      transform: rotate(360deg);
	}
}

#search {
    margin-right: 8%;
}

.search-align {
    float: right;
    
}

#btnForm {
    padding-right: 17.5%;
    margin-top: 10%;

}

#btn-form {
    color: #fff;
    background-color: #f8b739;
    border-color: #f8b739;
}

.clientTable {
    float: left;
    width: 90%;
}

.venueTable {
    float: left;
    margin-top: 3%;
    width: 40%;
}

.venueForm {
    float: left;
    width: 48%;
    margin-top: 0.1%;
    margin-left: 4%;
}

#my-sidebar {
    position: fixed;
    z-index: 1;
    min-width: 15%;
    max-width: 30%;
    height: 100%;
    background: #1d1919;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	top: 0;
	left: 0;
	overflow-x: hidden;
}
  
#my-sidebar.active {
    margin-left: -300px;
}

#my-sidebar .logo {
    display: block;
    width: 118px;
    height: 110px;
    margin: 0 auto;
    /* animation: App-logo-spin infinite 10s linear; */
}

#my-sidebar .logo span {
    display: block;
}

#my-sidebar ul.components {
    padding: 0;
}

#my-sidebar ul li {
    font-size: 16px;
}

#my-sidebar ul li>ul {
    margin-left: 10px;
}

#my-sidebar ul li>ul li {
    font-size: 14px;
}

#my-sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
  
#my-sidebar ul li a:hover {
    color: #f8b739;
}
  
#my-sidebar ul li.active>a {
    background: transparent;
    color: #f8b739;
}

/* END */