/* .App {
	text-align: center;
}*/
body {
	font-family: "Lato", sans-serif;
}

main{
    width: 82%;
    margin: 0% 0 0 15%;
    overflow: hidden;
    position: relative;
}

main small{
    width: 100%;
    color: #ccc;
    font-size: 18px;
    display: inline-block;
    margin: 2% 0;
}

.search-align {
	float: right;
}

.App-logo {
  	animation: App-logo-spin infinite 20s linear;
  	height: 6vmin;
	pointer-events: none;
	/* display: inline; */
	/* text-align: center; */
	margin-top: 9px;
    margin-left: 55px;
}

.App-header {
  	background-color: #282c34;
  	min-height: 11vh;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	font-size: calc(10px + 2vmin);
	color: white;
	border-radius: 0px 0px 10px 0px;
}

.App-link {
	/* color: #61dafb; */
	text-decoration: none;
}

@keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
}

/* My style */

.sidebar {
	position: fixed;
	width: 170px;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 0.5%;
	transition: 0.5s;
	background-color: #282c34;
}

.sidebar ul li {
	list-style:none;
}

.sidebar ul li a {
	padding: 8px 8px 8px 14px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar ul li a:hover {
	color: #f1f1f1;
}

.items {
	padding-top: 15.5%;
}

.openMenu {
	font-size: 25px;
	cursor: pointer;
	background-color: #282c34;
	color: white;
	padding: 0px 25px;
	border: none;
}

.openMenu:hover {
	color: #5dbcd2;
}

#btnForm {
    padding-right: 17.5%;
    margin-top: 10%;
}

.venueTable {
    float: left;
    margin-top: 4%;
    width: 30%;
}

.venueForm {
    float: left;
    width: 48%;
    margin-top: 1%;
    margin-left: 4%;
}

/* Main --> Crear Empleado */

.FormEmpleados{
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 3%;
}
.infoPersonal{
    float: left;
    width: 48%;
}

.infoPersonal input{
    display: block;
    width: 100%;
    background:rgb(215,215,215);
    border: none;
    font-size: 14px;
    margin-bottom: 3%;
    box-sizing: border-box;
    padding: 2%;
}
.infoPersonal textarea{
    display: block;
    background: rgb(215,215,215);
    min-height: 129px;
}
.formInfo{
    float: left;
    width: 48%;
    margin-left: 4%;
}
.formInfo fieldset{
    width: 100%;
    border:0;
    padding: 4% 2%;
}
.formInfo fieldset legend{
    float: left;
    display: block;
    width: 15%;
}
.formInfo fieldset label{
    color: #ccc;
    margin-left: 1%;
    margin-right: 5%;
}
.divFooter{
    float: left;
    width: 100%;
    padding: 3% 0;
}
.divFooter span{
    color: gray
}
.divFooter input {
    background:rgb(190,190,190);
    border: none;
    font-size: 14px;
    width: 15%;
    line-height: 10px;
    box-sizing: border-box;
    padding: 1%;
    float: right;
    color: #fff;
    letter-spacing: 0.3rem;
}

.divFooter input#limpiar{
    background: none;
    color: gray;
}